PORT=3000
CLIENT_URL=http://localhost:5173
JWT_SECRET="replace-with-a-random-secret-at-least-32-characters"
JWT_EXPIRES_IN="1d"
DATABASE_URL="postgresql://postgres:password@localhost:5432/internal_helpdesk?schema=public"
